In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
#load the data
train = pd.read_csv("/kaggle/input/titanic/train.csv")
train.head(5)

#survival 	Survival 	0 = No, 1 = Yes
#pclass 	Ticket class 	1 = 1st, 2 = 2nd, 3 = 3rd
#sex 	Sex 	
#Age 	Age in years 	
#sibsp 	# of siblings / spouses aboard the Titanic 	
#parch 	# of parents / children aboard the Titanic 	
#ticket 	Ticket number 	
#fare 	Passenger fare 	
#cabin 	Cabin number 	
#embarked 	Port of Embarkation 	C = Cherbourg, Q = Queenstown, S = Southampton

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
test = pd.read_csv("/kaggle/input/titanic/test.csv")
test.head(5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
women_survived = train.loc[train.Sex == "female"]['Survived']
women_percent = sum(women_survived)/len(women_survived)
print ("survival percentage: ", women_percent)

survival percentage:  0.7420382165605095

In [5]:
men_survived = train.loc[train.Sex == "male"]['Survived']
men_percent = sum(men_survived)/len(men_survived)
print (men_percent)

0.18890814558058924

In [6]:
#randomforest
from sklearn.ensemble import RandomForestClassifier

y = train["Survived"]
features = ['Pclass','Sex','SibSp','Parch']

X = pd.get_dummies(train[features])
X_test = pd.get_dummies(test[features])

model = RandomForestClassifier(n_estimators = 100, max_depth=5, random_state = 1)
model.fit(X,y)

predictions = model.predict(X_test)
output = pd.DataFrame({"passengerID":test.PassengerId, "survived": predictions})

output.to_csv('my_submission.csv', index = False)
print("done")

done